@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
body{

    font-family: "Merriweather", serif;

}

/* banner section started */

header{
    margin-top: 50px;
}

.banner-container{

    max-width: 1320px;
    margin: 0 auto;    
    min-height: 600px;
    background-image: url(../Assets/images/Banner\ Image.png);
    background-color: rgba(0, 0, 0, 0.336);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner-content{

    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;

}

.banner-content p, h1{

    color: rgb(255, 255, 255);

}

.banner-content p{

    font-size: 32px;
    font-weight: 400px;
    text-align: center;
    
}

.banner-content h1{

    font-size: 72px;
    font-weight: 900px;
    text-align: center;

}

/* banner section ended*/

/* 65% section started*/

.second-section-container{

    width: 802px;
    height: 806px;
    margin: 0px auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.second-section-content h1{

    color: rgb(255, 0, 0);
    font-family: Inter;
    font-weight: 700;
    line-height: 107px;
    text-align: center;
    font-size: 88px;

}

.second-section-content p{

    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    margin-top: 48px;

}

.second-section-content h3{

    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    margin-top: 16px;
}

.second-section-img{

    width: 802.9px;
    height: 500px;
    margin-top: 48px;

}

.second-section-img img{

    width: 100%;
    height: 100%;

}

/* 65% section ended*/

/* midnight section start */

.midnight-party-container{

    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    background-image: url(../Assets/images/Vectorrr.png);
    background-color: rgba(0, 0, 0, 0.432);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.left-side-content{

    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.right-side-content{

    width: 50%;
    height: 600px;

}

.left-side-content h1{

    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 11%;
    text-align: left;
    margin-left: 80px;

}

.left-side-content p{

    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-top: 24px;
    margin-left: 126px;    

}

#midnight-btn{

    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-top: 48px;
    margin-left: -320px;

}

.right-side-content{

    display: flex;
    justify-content: center;
    align-items: center;

}

/* midnight section ended */

/* join now section started */

.join-now-container{

    width: 1320px;
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin: 0 auto;
    margin-top: 120px;
    
}

.join-now-content{

    width: 1320px;
    height: 482px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.join-now-content p{

    margin: 5px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    color: rgb(7, 2, 17);

}

.join-now-content span{

    color: rgb(255, 0, 0);

}

.join-now-content button{

    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 8px;
    background-color: rgb(255, 0, 0);
    border: none ;

}

/* join now section ended */

/* best offer section started */

.best-offer-container{

    width: 1320px;
    height: 463px;
    margin-top: 120px;
    margin: 0 auto;
    display: flex;

}

.left-content{

    width: 33.333%;
    height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.center-content{

    width: 33.333%;
    height: 463px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-content{

    width: 33.333%;
    height: 463px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.left-content h4{

    margin-bottom: 16px;
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;

}

.left-content h1{

    margin-bottom: 22px;
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;

}

.left-content p{

    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;

}

.right-content h1{
    
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;

}

.right-content p{

    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 43px;

}

/* best offer section ended */

/* holiday sale section started */

.holiday-sale-container{

    width: 1068px;
    height: 260px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.holiday-sale-container h4{

    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;

}

.holiday-sale-container h1{

    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;

}

.holiday-sale-container span{

    color: rgb(255, 0, 0);

}

.holiday-sale-container p{

    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 64px;

}






